.counter {
  text-align: center;
}

.counter input {
  font-size: 1.2rem;
  width: 60px;
}

.counter button {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #02044f;
  color: white;
  font-size: 30px;
}

.counter h2 {
  margin: 20px;
}