@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f2f2f2;
  text-align: center;
}

h1 {
  font-weight: bold;
  padding: 10px;
}

h2, h3 {
  margin: 0;
}

div.app .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
}